
/** main background image */
.splash {
    height: 500px;
    background-image: url('/assets/images/highres_454298250.jpeg');
    background-position: 50% 50%;
    background-size: cover;
    width: auto;
    opacity: 0.7;
    margin-top: -91px;
}

.splash img {
    margin-top: 50px;
}

/** offset splash container from navbar */
.splash .container {
    padding-top: 91px;
}

.twitter-timeline {
  margin-top: 60px;
}

.splash h1 {
    font-size: 2.4em;
    color: #98141b;
    margin-top: 80px;
    margin-left: 20px;
}

#google-groups {
    text-align: center;
}

p.entry-meta {
    margin-top: 0px;
    font-size: 0.9em;
    font-weight: 200;
}

.event-title {
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
}

.event-description {
  padding: 0;
  background-color: inherit;
  text-align: justify;
  white-space: pre;
  border: 0;
  min-height:150px;
  max-height:150px;
  height:200px;
  overflow: hidden;
}

.sponsor-name {
    text-align: center;
}

.sponsor-img-container {
    min-height: 150px;
    vertical-align: middle;
    background-repeat:no-repeat;
    background-position:center;
    /* background-size: contain; */
    display: block;
}

.sponsor-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.talk h1 {
    font-size: 24px;
    font-weight: bold;
}

/* some spacing for footer */
footer {
    margin-top: 40px;
}

/** blog posts */
.tags {
    margin-top: 10px;
    color: #999;
}

.contributor {
    padding: 20px;
}

.user-info {
    height: 80px;
}

.one-liner {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#blogs-sidebar {
    padding-right: 10px;
}

.section-dark.photos {
    padding-bottom: 0;
    margin-top: 0;
}

/** dark container */
.section-dark {
    background-color: rgb(43, 11, 3);
    color: white;
    padding: 20px 0 20px 0;
    margin: 20px 0 20px 0;
}

.section-dark a {
    color: white;
}

.section-dark a:hover {
    color: #888;
}


/* buttons */
.btn-primary {
    background-color: #CA4242;
    border-color: #BE2B2B;
}

.btn-primary:hover {
    background-color: #aa0000;
    border-color: #aa0000;
}