@(page: String)

@*
* Navigation bar showing the current active page
*@
<div class="navbar-wrapper">
    <div class="container">

        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@routes.Application.index()"><img src="@routes.Assets.at("images/hyscalasmalllogo.png")"></a>
                </div>
                <div id="main-navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a @if(page == "talks") {class="active"} href="@routes.Application.talks()">Talks</a></li>
                        <li><a @if(page == "mailinglist") {class="active"} href="@routes.Application.blogs()">Blogs</a></li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Activities<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/monthlymeeting">Monthly Meeting</a></li>
                                <li><a href="/dojo">Coding Dojo</a></li>
                                <li><a href="/hackthetower">Hack the Tower</a></li>
                                <li><a href="/openspace">Open Space</a></li>
                                <li><a href="/coderetreat">CodeRetreat</a></li>
                            </ul>
                        </li>

                        <li><a @if(page == "photos") {class="active"} href="@routes.Application.photos()">Photos</a></li>
                        <li><a @if(page == "mailinglist") {class="active"} href="@routes.Application.mailinglist()" >Mailing List</a></li>
                        <li><a @if(page == "about") {class="active"} href="@routes.Application.about()">About</a></li>
                    </ul>
                </div>
        </div>

    </div>
</div>

