@import controllers.Application.Team
@(members: Seq[Team])
@layout.main(Some("About"), "about") {

<div class="container">

    <h1>About <small>HyScala </small></h1>

        <!-- Content Row -->
    <div class="row">
            <!-- Map Column -->
        <div class="col-md-8">
                <!-- Embedded Google Map -->
         <!--   <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15224.81495274959!2d78.373979!3d17.44996!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x60bed7312d97938a!2sOracle+Software!5e0!3m2!1sen!2sin!4v1417941606396"></iframe>
       -->
            <img class="img-thumbnail" width="600px" height="600px" src="@routes.Assets.at("images/communityPic.jpg")" alt="HyScala Community Pic" />
        </div>
            <!-- Contact Details Column -->
        <div class="col-md-4">
            <h3>Contact Details</h3>
            <p>
               Hyderabad Scala Community [HyScala]<br>
            </p>
          <!--   <p><i class="fa fa-phone"></i>
                <abbr title="Phone">P</abbr></p>
            <p><i class="fa fa-envelope-o"></i>

            </p> -->
            <ul class="list-unstyled list-inline list-social-icons">
                <li>
                    <a href="https://www.facebook.com/hyscala" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
                </li>
              <!--  <li>
                    <a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a>
                </li> -->
                <li>
                    <a href="http://twitter.com/hyscala" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li>
                    <a href="https://plus.google.com/u/0/collection/cOQ1bB" target="_blank"><i class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
                <li>
                    <a href="http://github.com/hyscala" target="_blank"><i class="fa fa-github-square fa-2x"></i></a>
                </li>
                <li>
                    <a href="http://linkedin.hyscala.in" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
            </ul>
                <!-- Facebook Badge START -->
            <a href="https://www.facebook.com/hyscala" title="Hyderabad Scala Community" style="font-family: &quot;lucida grande&quot;,tahoma,verdana,arial,sans-serif; font-size: 11px; font-variant: normal; font-style: normal; font-weight: normal; color: #3B5998; text-decoration: none;" target="_TOP">Hyderabad Scala Community</a><br /><a href="https://www.facebook.com/hyscala" title="Hyderabad Scala Community" target="_TOP"><img class="img" src="https://badge.facebook.com/badge/1035447336569759.1553.110281027.png" style="border: 0px;" alt="" /></a><br /><a href="https://www.facebook.com/advertising" title="Make your own badge!" style="font-family: &quot;lucida grande&quot;,tahoma,verdana,arial,sans-serif; font-size: 11px; font-variant: normal; font-style: normal; font-weight: normal; color: #3B5998; text-decoration: none;" target="_TOP">Promote Your Page Too</a><!-- Facebook Badge END -->
            <br/>
            <a href="https://twitter.com/hyscala" class="twitter-follow-button" data-show-count="false">Follow hyscala</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
        <!-- /.row -->
<!--
    <div class="row">

        <div class="col-md-8">
            <table border="0" width="100%"><tr><td>

            <div class="g-page" data-href="//plus.google.com/u/0/106906975447728016672" data-rel="publisher"></div>


            <script type="text/javascript">
                    (function() {
                        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                        po.src = 'https://apis.google.com/js/platform.js';
                        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                    })();
            </script>

</td><td>

</td></tr></table>
        </div>
</div>
    -->
    <div class="row">
        <br/><br/>
        <p>HyScala (Hyderabad Scala Community) is a community of Scala enthuses who are living in or around Hyderabad City. We gather at least once in every month to learn, discuss, share and contribute to the Scala ecosystem. We are people from different level of expertise ranging students, programmers, leads, architects, who like to learn and share the passion of Scala and related technologies, Functional programming, Reactive platform and of course the JVM platform as well.
            <br/><br>
            Our community is interested in following areas:<br>
    <ul class="list-cell">
        <li>
            <b>Scala</b> and related technology <small>Scala Language,Akka, SBT,Lift etc</small>
        </li>
        <li>
            <b>JVM Language and Functional Languages</b> - <small>Groovy, Clojure, Haskell, Frege etc</small>
        </li>
        <li>
            <b>Reactive</b> Frameworks
        </li>
        <li>
            Miscellaneous - <b>Anything a Scala developer uses in his day to day life</b>
        </li>

    </ul>

        <div class="alert alert-success" role="alert" width="50%">
            <strong>To join HyScala:</strong> Join our meetup group to get update on events and discuss with other members <a class="list-mailinglist-item" target="_blank" href="http://meetup.com/hyscala">
            <img alt="Meetup"  height="40px" src="http://img.meetup.com/img/logo_82.png"> </a>
        </div>
            We meet once in every 3rd Saturday of the month in venue provided by our sponsors.<br/><br/>
            Our mailing list is hosted on <a href="http://www.meetup.com/hyscala/messages/archive/" target="_blank">meetup.com/hyscala</a>. This is free and open for all. Join and get meetings schedule and discuss.<br><br>
    </div>

    <h2>Team <small>  people behind Hyscala</small></h2>
    <div class="row">
    @members.map { member =>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 contributor">
            <a href="" class="vcard-avatar" itemprop="image">
                <img class="img-thumbnail" height="220" width="220" src="@member.photoUrl" >
            </a>
            <h3 class="row one-liner" style="align: center;">
                @member.name
                <br>
                <small>@member.role</small>
            </h3>
            <ul class="list-unstyled list-inline list-social-icons">
                <li>
                    <a href="http://github.com/@member.github" target="_blank"><i class="fa fa-github-square fa-2x"></i></a>
                </li>
                <li>
                    <a href="http://twitter.com/@member.twitter" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li>
                    <a href="https://in.linkedin.com/in/@member.linkedin" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
                </li>

            </ul>

        </div>
    }
    </div>

    <h2>Technologies <small>used in this web application</small></h2>
    <div class="list-mailinglist">
        <a class="list-mailinglist-item" href="http://scala-vienna.org">
            <img alt="Scala" class="pull-left" height="40px" src="@routes.Assets.at("images/scalavienna.png")">

        </a>
        <a class="list-mailinglist-item" href="http://scala-lang.org">
            <img alt="Scala" class="pull-left" height="40px" src="http://scala-lang.org/resources/img/smooth-spiral.png">

        </a>
        <a class="list-mailinglist-item" href="http://www.playframework.com">
            <img alt="Play Framework"  class="pull-left" height="40px" src="http://www.playframework.com/assets/images/logos/play_full_color.png">

        </a>
        <a class="list-mailinglist-item" href="http://rometools.github.io/rome">
            <img alt="Rome"  class="pull-left" height="40px" src="http://rometools.github.io/rome/images/romelogo.png">

        </a>
        <a class="list-mailinglist-item" href="http://getbootstrap.com">
            BootStrap
        </a>
        <a class="list-mailinglist-item" href="http://github.com">
            <img alt="GitHub"  class="pull-left" height="40px" src="https://github.global.ssl.fastly.net/images/modules/logos_page/Octocat.png">

        </a>
        <a class="list-mailinglist-item" href="http://meetup.com">
            <img alt="Meetup"  class="pull-left" height="40px" src="http://img.meetup.com/img/logo_82.png">

        </a>
        <a class="list-mailinglist-item" href="http://http://asciidoctor.org/">
            <img alt="Asciidoctor"  class="pull-left" height="40px" src="https://avatars3.githubusercontent.com/u/3137042?v=3&s=200">

        </a>
        <a class="list-mailinglist-item" href="http://www.heroku.com/">
            <img alt="Heroku"  class="pull-left" height="40px" src="https://s3.amazonaws.com/onelogin-assets/images/icons/heroku.png">

        </a>

    </div>

</div><!-- end container -->

}
