@(upcomingEvents: Seq[service.MeetupEvent],
  pastEvents: Seq[service.MeetupEvent],
  photos: Seq[service.Photo],
  talks: Seq[service.Talk])

@layout.main(None, "start") {

<a class="hidden-xs" href="https://github.com/hyscala">
    <img style="position: absolute; top: 0; right: 0; border: 0; z-index: 100500;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub">
</a>

<!-- Front page image
================================================== -->
<div class="splash">
    <div class="container">
        <div class="row">
           <!--  <div class="col-sm-4 hidden-xs">
                <img class="img-responsive" src="@routes.Assets.at("images/hyscalalogo.png")" alt="Hyderabad Scala Community Logo">
            </div> -->
            <div class="col-sm-8" style=""><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
            @upcomingEvents.map { event =>
                <div class="panel panel-success" style="opacity: 0.9;">
                    <div class="panel-heading">
                        <h3 class="panel-title event-title"><a href="@event.url" target="_blank">@event.name</a></h3>
                        <br>
                        <strong><h5><i class="fa fa-calendar" aria-hidden="true"> @event.displayTime</i> | <i class="fa fa-map-marker" aria-hidden="true"> @event.venue.name</i> | RSVP <span class="badge">@event.rsvpYes</span></h5></strong>
                    </div>
                </div>
            }
            </div>
        </div>
    </div>
</div>

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<div class="section-dark photos">
<div class="container">

    <div class="row">
        @photos.map { photo =>
            <div class="col-lg-3 col-sm-3 col-xs-12 thumb">
                <a href="@photo.highresUrl" class="thumbnail with-caption image-link" title="@photo.caption">
                    <img class="img-responsive img-thumbnail" src="@photo.mediumUrl" alt="@if(photo.caption != "") { photo.caption }">
                </a>
            </div>
        }
    </div>

</div>
</div>



<div class="container">

    <div class="row events">
        <div class="col-lg-12 col-md-12 col-xs-12">

            <h2>Welcome</h2>

            <img class="img-responsive" src="@routes.Assets.at("images/hyscalalogo.png")" alt="Hyderabad Scala Community Logo" style="float: left"> <I>(Hyderabad Scala Community)</I> is a community of Scala enthuses who are living in or around Hyderabad City. We gather at least once in every month to learn, discuss, share and contribute to the Scala ecosystem. We are people from different level of expertise ranging students, programmers, leads, architects, who like to learn and share the passion of Scala and related technologies.<br/>
            <br><br><br><br>
            Our community is interested in following areas:<br><br>
            <ul class="list-cell">
                <li>
                    <b>Scala</b> and related technology <small>Scala Language,Akka, SBT,Lift etc</small>
                </li>
                <li>
                    <b>JVM Language and Functional Languages</b> - <small>Groovy, Clojure, Haskell, Frege etc</small>
                </li>
                <li>
                    <b>Reactive</b> Frameworks
                </li>
                <li>
                    Miscellaneous - <b>Anything a Scala developer uses in his day to day life</b>
                </li>

            </ul>

            <div class="alert alert-success" role="alert">
                <strong>To join HyScala:</strong> Join our meetup group to get update on events and discuss with other members <a class="list-mailinglist-item" target="_blank" href="http://meetup.com/hyscala">
                <img alt="Meetup"  height="40px" src="http://img.meetup.com/img/logo_82.png"> </a>
            </div>
            <br/><hr/>


            <div>
                <div class="row" id="upcoming">
                    <h2><i class="fa fa-calendar" aria-hidden="true"></i> Upcoming events</h2>
                    @upcomingEvents.take(2).map { event =>
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h3 class="panel-title event-title"><a href="@event.url" methods="_blank">@event.name</a></h3>
                                <br><h5><i class="fa fa-calendar" aria-hidden="true"> @event.displayTime</i> | <i class="fa fa-map-marker" aria-hidden="true"> @event.venue.name</i></h5>
                            </div>
                            <div class="panel-body">
                                <div class="event-description">@Html(event.description)</div>


                            </div>

                            <div class="panel-footer">RSVP <span class="badge">@event.rsvpYes</span> </div>
                        </div>
                    }
                </div>
                <div class="row" id="past">
                    <h2><i class="fa fa-calendar-check-o" aria-hidden="true"></i> Past events</h2>
                    @pastEvents.take(2).map { event =>
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title event-title"><a href="@event.url" methods="_blank">@event.name</a></h3>
                                <br><h5><i class="fa fa-calendar" aria-hidden="true"> @event.displayTime</i> | <i class="fa fa-map-marker" aria-hidden="true"> @event.venue.name </i></h5>
                            </div>
                            <div class="panel-body">
                                <div class="event-description">@Html(event.description)</div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
      <!--  <div class="col-lg-4 col-md-4 col-xs-12">
            <a class="twitter-timeline" data-lang="en" data-width="400" data-height="900" data-theme="light" href="https://twitter.com/HyScala">Tweets by HyScala</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div> -->
    </div>
    <hr/>
</div>


    <div class="container">
        <h2><i class="fa fa-microphone" aria-hidden="true"></i> Talks</h2>
        <div class="row talks"  id="past">
        @talks.take(4).map { talk =>
            <div class="col-sm-4">
                <div class="panel panel-default">
                        <!-- <a href="@talk.video">
                    <img class="img-rounded img-responsive" src="https://i1.ytimg.com/vi/@talk.pictureUrl/mqdefault.jpg" alt="@talk.title">
                    </a>-->
                    <div class="panel-heading">
                        <a href="@routes.Application.talk(talk.date.getYear(), talk.date.getMonthOfYear(), talk.date.getDayOfMonth(), talk.slug)">
                            <h3 class="panel-title event-title"><i class="fa fa-microphone" aria-hidden="true"> @talk.title</i></a>
                        <br><small> - by  <b><i class="fa fa-address-card" aria-hidden="true"> @talk.speaker </i></b> </small></h3> @talk.slides.map { slides => <i class="fa fa-slideshare" aria-hidden="true"></i>}

                    </div>
                    <div class="panel-body">@talk.teaser</div>
                </div><!-- /.col-lg-4 -->
            </div>
        }
        </div><!-- /.row -->

        <a class="btn btn-primary btn-sm pull-right" role="button" href="@routes.Application.talks()">All talks</a>
<br/>
        <hr/>
    </div>



<div class="container">

    <h2><i class="fa fa-users" aria-hidden="true"></i> Our Sponsors</h2>

    <div class="row sponsors">
        <div class="col-md-4">
            <a href="http://www.jetbrains.com/" title="JetBrains" target="_blank">
                <span class="sponsor-img-container" style="background-image: url('/assets/images/jetbrains.jpg')"></span>
            </a>
        </div>
        <div class="col-md-4">
            <a href="http://www.heroku.com/" title="Heroku" target="_blank">
            <span class="sponsor-img-container" style="background-image: url('/assets/images/heroku.jpg')"></span>
            </a>
        </div>
    </div>

</div><!-- end container -->

}
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s); js.id=id;js.async=true;js.src="https://a248.e.akamai.net/secure.meetupstatic.com/s/script/2012676015776998360572/api/mu.btns.js?id=couls06adjvcs3nio86omi6ins";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","mu-bootjs");</script>

<script type="text/javascript">
    $(document).ready(function() {
        $('.event-description' ).dotdotdot({
            after: 'a.readMore'
        });

        // Photo zoom
        $('.image-link').magnificPopup({type:'image'});
    })
</script>
