
@layout.main(Some("Mailing List"), "mailinglist") {

<div class="container">
        <h1>Mailing List </h1>


    <div class="row events">
        <div class="col-lg-8 col-md-8 col-xs-12">
            <div>
                <div class="row" id="upcoming">

                    Our community portal is hosted on Meetup. All our Events, Mailing list, Poll etc are all available in this Meetup site.
                        <br/><br/>
                    The first step in our community is to join this Meetup site so you get all info posted there.
                        <br/><br/>
                    We have our dedicated mailing list here. You can post/reply in the website here or you can directly send mail from your inbox to <email>
                </div>
            </div>
        </div>
    </div>
<br/><br/>



    <div class="row events">
        <div class="col-lg-8 col-md-8 col-xs-12">
            <div>
                <div class="row" id="upcoming">
                    <h3>Current Discussion</h3>

            </div>
        </div>
    </div>

</div><!-- end container -->
</div><!-- end container -->

}